* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Was ist Display-flex? 
Es hilft uns beim Ausrichten benachbarter Elemente*/

header {
    height: 500px;
    display: flex;
    border: 2px solid black;

/* -------------- justify content -------- */

    /* Horizontale Ausrichtung */

    /* default - Elemente werden zur Startline gepackt */
    /* justify-content: flex-start; */

    /* Elemente werden rechtsbündig ausgerichtet */
    /* justify-content: flex-end; */

    /* Elemente werden mittig ausgerichtet */
    justify-content: center;

    /* Elemente werden gleichmäßig in den Zeilen mit gleichem Abstand um sie herum verteilt */
    /* justify-content: space-around; */

    /* Elemente werden von innen nach außen gerückt */
    /* justify-content: space-between; */

    /* Der Abstand wird gleichmäßig zwischen Elementen verteilt*/
    /* justify-content: space-evenly; */

/* ------------ align items -------------- */

    /* default */
    /* align-items: flex-start; */

    /* Wird horizontal nach unten ausgerichtet */
    /* align-items: flex-end; */

    /* Elemente werden auf der Querachse zentriert */
    /* align-items: center; */

    /* Elemente werden auf die Grundlinie ausgerichtet */
    /* align-items: baseline; */

 /* ------------ align content ---------- */

    /* default - Inhalt wird an der obersten Stelle ausgerichtet */
    /* align-content: start; */
    flex-wrap: wrap;
    
    /* Inhalt wird an den untersten Rand ausgerichtet */
    /* align-content: end; */


    /* align-content: space-between; */

}

header section {
    width: 300px;
}

.text-container {
    background-color: deeppink;
    height: 200px;
}


/* +++++++++ div section beginn +++++++++ */

h1 {
    background-color: blue;
}

nav {
    background-color: chartreuse;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    align-items: baseline;
    background-color: aqua;
}

.div-section {
    background-color: darkred;
    display: flex;
    margin-top: 5vh;

    /* justify-content: space-around; */

    /* default */
    /* flex-direction: row; */
}

.flex-element {
    height: 200px;
    width: 200px;
    margin: 5px;
    color: white;
    font-size: 2rem;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

article {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.flex-element:nth-of-type(1) {order: 2}
.flex-element:nth-of-type(2) {order: 1}
.flex-element:nth-of-type(3) {order: 5}
.flex-element:nth-of-type(4) {order: 3}
.flex-element:nth-of-type(5) {order: 4}

.img-section {
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
}